*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: montserrat;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-image: linear-gradient(120deg, #2698d6, #212121);

}

.form-container{
    position: absolute;
    background: #f1f1f1;
    width: 360px;
    height: 580px;
    padding: 50px 40px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25);
    text-align: center;

}

.fos_user_registration_register h1{
    margin-bottom: 20px;
}
#fos_user_registration_form {
    margin-bottom: 30px;
} 
#fos_user_registration_form input{
    margin: 10px 0;
    width: 100%;

}

.btn-submit{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(120deg, #2698d6, #212121, #2698d6);
    background-size: 200%;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0,0,0,.25);
    margin-bottom: 30px;
}

.btn-submit:hover{
    background-position: right;
}
.errors{
    text-align: left;
    color: red;
    margin-bottom: 10px;
}
.errors span{
    font-size: 14px;
}


@media screen and (max-width: 500px){

    .form-container{
        width: 90%;
        height: 500px;
        padding: 50px 40px;
    }
    .btn-submit{
        margin-bottom: 20px;
    }

    .fos_user_registration_register h1{
        display:none;
    }


}
