@mixin btn-clear(){
    background:none;
    border:none;
    outline:none;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #2698d6, #212121);
    min-height: 100vh;
}

.form-container{
    background-color: #fff;
    height: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 30px;
    display: flex;
    justify-content: space-around;
    input{
        width: 200px;
    }
}
#fos_user_registration_form{
    flex: 1;
    padding: 10px;
    margin-right: 5px;
}

.btn-submit{
    @include btn-clear();
    border: 2px solid #235e7f;
    padding: 5px;
    &:hover{
        background: #235e7f;
        color: white;

    }
}

.side{
    flex: 1;
    height: 100%;
    text-align:center;
}

#logo{
    height: 40vh;
}

@media screen and (max-width: 600px) {
    .form-container{
        flex-direction: column;
        width: 90%;
        input{
            width: 100%;
        }
    }
    .side{
        display: none;

    }

}
