<a href="{{ admin.generateObjectUrl('showInfo', object) }}" class="btn btn-sm btn-default edit_link" title="show info"
    style="display: inline-block">
    <i class="fa fa-eye"> </i>
    Show
</a>